.wrapper{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
}
header , footer{
    background-color: white;
    height: 80px;
}

main{
    height: calc(100% - 160px);
    overflow-y:auto ;
}

#playground{
    width: 500px;
    height: 500px;
    
    display: flex;
    flex-flow: row wrap;
}
.square{
    
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(198, 197, 197);
}

.safe{
    background-color: blue;
    color: white;
}

.unsafe{
    background-color: red;
    color: white;
}